<!DOCTYPE html>
<html>
<head>
<title>User List</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="User Name">
			</div>
			<a class="btn btn-default" @click="query">Search</a>
			#if($shiro.hasPermission("sys:user:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;Add</a>
			#end
			#if($shiro.hasPermission("sys:user:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;Update</a>
			#end
			#if($shiro.hasPermission("sys:user:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">User Name</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.username" placeholder="User Name"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">Password</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.password" placeholder="Please input passwoed"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">E-mail</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.email" placeholder="E - mail"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">Phone No</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="user.mobile" placeholder="Phone No"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">Role</div>
			   	<div class="col-sm-10">
				   	<label v-for="role in roleList" class="checkbox-inline">
					  <input type="checkbox" :value="role.roleId" v-model="user.roleIdList">{{role.roleName}}
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">Status</div> 
				<label class="radio-inline">
				  <input type="radio" name="status" value="0" v-model="user.status"/> Freeze 
				</label>
				<label class="radio-inline">
				  <input type="radio" name="status" value="1" v-model="user.status"/> Normal
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="Submit"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="Back"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/sys/user.js?_${date.systemTime}"></script>
</body>
</html>