<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" href="materialize/css/materialize.css" />

</head>
<body>
	<div id = "app">
		<div v-if="error">
			<h4>{{errorMsg}}</h4>
		</div>
		<div>
			<input type="text" v-model="name"  placeholder="用户名" />
		</div>
		<div>
			<input type="password" v-model="password" placeholder="密码" />
		</div>
		<div>
			<input type="text" v-model="captcha" placeholder="验证码" />
		</div>
		<div>
			<img  :src="src" @click="refleshCode" />
			<a href="#" @click="refleshCode">点击刷新</a>
		</div>
		<div>
			<input type="button" value="登录"  @click="login"/>
		</div>
	</div>
	<script src="statics/libs/jquery.min.js"></script>
	<script type="text/javascript" src="statics/libs/vue.min.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				name: '',
				password: '',
				captcha: '',
				error: false,
				errorMsg: '',
				src: 'captcha.jpg'
			},
			beforeCreate: function(){
				if(self != top){
					top.location.href = self.location.href;
				}
			},
			methods: {
				refleshCode: function(){
					this.src = "captcha.jpg?t="+$.now();
				},
				login: function(event){
					var data = "username="+app.name+"&password="+app.password+"&captcha="+app.captcha;
					$.ajax({
						type:"POST",
						data: data,
						url:"sys/login",
						dataType: "json",
						async:true,
						success: function(result){
							if(result.code == 0){
								parent.location.href = 'index.html';
							}else{
								app.error = true;
								app.errorMsg = result.msg;
								
								app.refresh();
							}
						}
					});
				}
			}
		});
	</script>
</body>
</html>